{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}" />
<div class="wrapper">
  <div class="sidebar">
    <h2>My</h2>
    <h2>Page</h2>
    <ul>
      <li>
        <a href="{% url 'board:mypage' %}"><i class="nav-link"></i>나의 문의사항</a>
      </li>
      <li>
        <a href="{% url 'board:change_password' %}"><i class="nav-link"></i>비밀번호 수정</a>
      </li>
      <li>
        <a href="{% url 'board:review' %}"><i class="nav-link"></i>영화 리뷰하기</a>
      </li>
      <li>
        <a href="{% url 'board:withdraw' %}"><i class="nav-link"></i>회원탈퇴</a>
      </li>
    </ul>
  </div>
  <div class="main_content">
    <div class="container">
      <!-- Start: Login Form Clean -->
      <!-- TODO Css 추출 권장 -->
      <section class="login-clean">
        <span class='precaution'>
          <h1>비밀번호 수정</h1>
          <ul>
            <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
            <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
            <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
            <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
          </ul>
        </span>
        <form method="post">
          {% csrf_token %} {% include "form_errors.html" %} {{ form }}
          <div class="mb-3">
            <button class="btn btn-primary d-block w-100" type="submit">비밀번호 수정</button>
          </div>
        </form>
      </section>
      <!-- End: Login Form Clean -->
    </div>
  </div>
</div>
{% endblock %}
