{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}" />
<div class="wrapper">
  <div class="sidebar">
    <h2>Mypage</h2>
    <ul>
      <li>
        <a href="{% url 'board:mypage' %}"><i class="nav-link"></i>나의 문의사항</a>
      </li>
      <li>
        <a href="{% url 'board:change_password' %}"><i class="nav-link"></i>비밀번호 수정</a>
      </li>
      <li>
        <a href="{#}"><i class="nav-link"></i>내가 본 영화 목록</a>
      </li>
      <li>
        <a href="{% url 'board:withdraw' %}"><i class="nav-link"></i>회원탈퇴</a>
      </li>
    </ul>
  </div>
  <div class="main_content">
    <div class="container">
      <!-- Start: Login Form Clean -->
      <!-- TODO Css 추출 권장 -->
      <section class="login-clean">
        <form method="post">
          {% csrf_token %} {% include "form_errors.html" %} {{ form }}
          <div class="mb-3">
            <button class="btn btn-primary d-block w-100" type="submit">비밀번호 수정</button>
          </div>
        </form>
      </section>
      <!-- End: Login Form Clean -->
    </div>
  </div>
</div>
{% endblock %}
