{% extends "base.html" %} {% load static %} {% block content %}
<!-- Start: Article Clean -->
<link rel="stylesheet" href="{% static 'css/detail.css' %}? after" type="text/css" />
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="content">
        <!-- Start: Intro -->
        <div class="intro">
          <h1 class="text-center">{{ board.title }}</h1>
          <!-- Start: Date and Author -->
          <p class="text-center">
            <span class="date"> {{ board.date | date:'Y년 m월 d일 a H:i' }} </span>
          </p>
          <!-- End: Date and Author -->
          <div style="text-align: center">
            {% if board.image.url is not None %}
            <img src="{{ board.image.url }}" />
            <br />
            <br />
            <a href="../download/{{ pk }}" class="btn btn-primary" type="button"> 다운로드</a>
            {% endif %}
          </div>
        </div>
        <!-- End: Intro -->
        <!-- Start: Text -->
        <div class="text">
          <br />
          <div>
            <p><b>게시글</b></p>
          </div>
          <div class="card my-3">
            <div class="card-body">
              <div class="card-text" >{{ board.content }}</div>
            </div>
          </div>
          <div>
          <a href="{% url 'board:edit' board.id %}" class="btn btn-primary" type="submit">수정</a>
          <a href="{% url 'board:delete' board.id %}" class="btn btn-primary" type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
          </div>
          <div>
            <p>댓글</p>
          </div>
          {% for comment in comments %}
          <div class="cardmy-3">
            <div class="card-body">
              <div class="card-text" >
                <span>작성자 : {{ comment.author }} </span>
                <span>작성일 : {{ comment.date| date:'Y년 m월 d일 a H:i' }} </span><br>
                <span>내용 : {{ comment.content }} </span>
              </div>
            </div>
          </div>
          {% endfor %}
          <form method="POST" class="my-3">
            {% csrf_token %} {% include "form_errors.html" %}
            <div>
              <p>내용</p>
              <textarea name="content" size="160" placeholder="내용을 입력하세요"></textarea>
            </div>
            <input type="submit" value="댓글등록" class="btn btn-primary" />
          </form>
        </div>
        <!-- End: Text -->
      </div>
    </div>
  </div>
</div>
<!-- End: Article Clean -->
{% endblock %}
