{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/write.css' %}? after" type="text/css" />
<section class="board_write">
  <div class="board_wrap">
    <div class="board_title">
      <p>문의사항</p>
    </div>
    <div class="content-box">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {% include "form_errors.html" %}
        <div class="title_content_attachment">
          <div class="title">
            <p>제목</p>
            <input class="input_title" name='title' type="text" placeholder= "제목" value = "{{ form.title.value }}" />
          </div>
          <div class="content">
            <p>내용</p>
            <textarea class="input_content" name='content' type="text" placeholder= "내용">{{ form.content.value }}</textarea>
          </div>
          <div class="attachment">
            <p>첨부파일</p>
            <input class="input_img" type="file" name="file" />
          </div>
          <div class="button">
            <a href="{% url 'main:main' %}">
              <button class="btn btn-primary" type="button" class="on">취소</button>
            </a>
            <a href="{% url 'board:board' %}">
              <button class="btn btn-primary" type="submit">수정</button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}