{% extends "base.html" %} {% load static %} {% block content %}
<section style="padding: 0 50px">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {% include "form_errors.html" %}
    <div>제목 <input name="title" size="80" placeholder="제목을 입력하세요" /></div>
    <div>내용 <textarea name="content" size="80" placeholder="내용을 입력하세요" ></textarea></div>
    <div style="width: 800px">첨부파일 <input type="file" name="file" /></div>
    <button class="btn btn-primary" type="submit">저장</button>
    <a href="{% url 'board:board' %}">
      <button class="btn btn-primary" type="button">취소</button>
    </a>
  </form>
</section>
{% endblock %}