{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}? after" type="text/css" />
<div class="wrapper">
  <div class="sidebar">
    <h2>Mypage</h2>
    <ul>
      <li>
        <a href="{% url 'board:mypage' %}"><i class="nav-link"></i>나의 문의사항</a>
      </li>
      <li>
        <a href="{% url 'board:change_password' %}"><i class="nav-link"></i>비밀번호 수정</a>
      </li>
      <li>
        <a href="{#}"><i class="nav-link"></i>내가 본 영화 목록</a>
      </li>
      <li>
        <a href="{% url 'board:withdraw' %}"><i class="nav-link"></i>회원탈퇴</a>
      </li>
    </ul>
  </div>
  <div class="main_content">
    <div class="container">
      <h1>나의 문의사항</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일</th>
              <th>응답여부</th>
            </tr>
          </thead>
          <tbody>
            {% for data in info %}
            <tr>
              <td><a href="../detail/{{ data.id}}">{{ data.title}}</a></td>
              <td>{{ data.user}}</td>
              <td>{{ data.date | date:'Y년 m월 d일 a H:i'}}</td>
              <td>{{ data.response}}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
      <nav class="paginator">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
          </li>
          {% for i in page_range %}
          <li class="page-item">
            <a class="page-link" href='{% url "board:mypage" %}?page={{ i }}'>{{ i }}</a>
          </li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a>
          </li>
        </ul>
        <a href="{%url 'board:write' %}" class="btn btn-primary" type="button">글쓰기</a>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
