{%extends "base.html"%} {%load static%} {%block content%}
<link rel="stylesheet" href="{% static 'css/withdraw.css' %}" />
<!-- End: Navigation Clean -->
<div class="wrapper" style="flex-wrap: wrap">
  <div class="sidebar">
    <h2>My</h2>
    <h2>Page</h2>
    <ul>
      <li>
        <a href="{% url 'board:mypage' %}"><i class="nav-link"></i>나의 문의사항</a>
      </li>
      <li>
        <a href="{% url 'board:change_password' %}"><i class="nav-link"></i>비밀번호 수정</a>
      </li>
      <li>
        <a href="{% url 'board:withdraw' %}"><i class="nav-link"></i>회원탈퇴</a>
      </li>
    </ul>
  </div>
  <div class="main_content">
    <div class="container">
      <!-- Start: Login Form Clean -->
      <section class="login-clean">
        <h1 class="visually-hidden">회원 탈퇴</h1>
        <form method="post">
          {% csrf_token %} {% include "form_errors.html" %}
          <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
          <div class="mb-3"></div>
          <p>안전한 회원탈퇴를 위해, 비밀번호를 확인해 주세요.</p>
          <ul>
            <li style="font-size: 11px">비밀번호 확인 후 아이디는 즉시 탈퇴됩니다.</li>
          </ul>
          <div class="mb-3">
            <input class="form-control" type="password" name="password" id="password" placeholder="Password" value="{{ form.username.value | default_if_none:'' }}" />
          </div>
          <div class="mb-3">
            <button class="btn btn-primary d-block w-100" type="submit">회원탈퇴</button>
          </div>
        </form>
      </section>
      <!-- End: Login Form Clean -->
    </div>
  </div>
</div>
{%endblock%}
