{% extends "base.html"%} {% load static %}
{% block content %}
    <head>
    
        <title>Voice bot</title>
        
        <meta charset="utf-8">

        <meta name="description" content="Amjad Majed's personal webstie and portfolio">
        
        <meta name="keywords" content="amjad, majed, portfolio, personal, software engineer, software, application, app, android,
                                       programing, development">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css\voicebot.css' %}? after" type="text/css" />
      
      </head>
    
    <body> 
     
      <div class="container">
        <input id="speech" type="text">
        <button id="rec" class="btn">Speak</button>
        <div id="spokenResponse" class="spoken-response">
          <div class="spoken-response__text"></div>
        </div>
      </div>

    
      <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type="text/css">


        <!-- Scripts -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <!-- My Script -->
        <script src="js/custom.js"></script>

      
  <!----------------------------------->
    </body>
    
<script>
</script>


{%endblock%}