@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 0 10px;
}

.masthead{
    display: flex;
    width: 1920px;
    height: auto;
}

body {
  background: #8CA8FA 0% 0% no-repeat padding-box;
  background-size: cover;
}

#n_1 {
  left: 970px;
  top: 328px;
  position: absolute;
  overflow: visible;
  width: 914px;
  white-space: nowrap;
  text-align: right;
  font-family: 'Jua', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 124px;
  color: rgba(33, 30, 63, 1);
}

#n_2 {
  left: 1333px;
  top: 463px;
  position: absolute;
  overflow: visible;
  width: 548px;
  white-space: nowrap;
  text-align: right;
  font-family: 'Jua', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgba(46, 45, 105, 1);
}

#m_char {
  position: absolute;
  display: flex;
  top: 462px;
  left: 1458px;
  width: 66px;
  height: 49px;
}

#n_3 {
  left: 1714px;
  top: 520px;
  position: absolute;
  overflow: visible;
  width: 166px;
  white-space: nowrap;
  text-align: right;
  font-family: 'Jua', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(141, 166, 248, 1);
}

#watchingTV {
  width: 1920px;
  height: auto;
}


#NETFLIXlogo{
    position: relative;
    top: 51px;
    left: 665px;
    width: 295px;
    height: 92px;
}

#t_1{
    position: relative;
    top: -53px;
    left: 974px;
    width: 292px;
    height: 117px;
    font-family: 'Jua', sans-serif;
    font-style: normal;
    font-size: 100px;
}

#t_2 {
    top: 1353px;
    left: 121px;
    width: 290px;
    height: 388px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

a{
    text-decoration: none !important;
}


.TOP10-form .scrollcard{
    top: 1500px;
}

.TOP10-form .scrollcard .card{
    font-family: 'Jua', sans-serif;
    display: inline-block;
    padding: 15px;
    height: 350px;
    background: #fff;
    border-radius: 8px;
    margin: 15px;
    top: 1500px;
}

.TOP10-form .scrollcard .card > img{
    width: 150px;
    height: auto;
    border-radius: 8px;
    display:block;
    margin:0 auto;
}

.TOP10-form .scrollcard .card h1{
    font-size: 24px;
    color: #F16822;
    text-align: center;
}

.TOP10-form .scrollcard .card p{
    font-size: 16px;
    color: #000;
    text-align: center;
}


body > div > section > div.TOP10-form > div.scrollcard.slick-initialized.slick-slider > button.slick-prev.slick-arrow{
    display:none !important; 
}

body > div > section > div.TOP10-form > div.scrollcard.slick-initialized.slick-slider > button.slick-next.slick-arrow{
    display:none !important; 
}