@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.wrapper {
  height: auto;
  min-height: 100%;
}

.masthead {
  width: 100%;
  height: auto;
}

body {
  background: #8ca8fa 0% 0% no-repeat padding-box;
  background-size: cover;
}

#n_1 {
  right: 4px;
  top: 328px;
  position: absolute;
  font-family: "Jua", sans-serif;
  font-size: 124px;
  color: rgba(33, 30, 63, 1);
}

#n_2 {
  right: 4px;
  top: 463px;
  position: absolute;
  width: 548px;
  text-align: right;
  font-family: "Jua", sans-serif;
  font-size: 45px;
  color: rgba(46, 45, 105, 1);
}

#m_char {
  position: absolute;
  top: -12px;
  left: 116px;
  width: 66px;
  height: 49px;
}

#n_3 {
  top: 520px;
  right: 4px;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 4px;
  width: auto;
  font-family: "Jua", sans-serif;
  color: rgba(141, 166, 248, 1);
}

#watchingTV {
  width: 100%;
  height: auto;
}

#NETFLIXlogo {
  position: absolute;
  top: 109%;
  right: 46%;
  width: 295px;
  height: 92px;
}

#t_1 {
  position: absolute;
  top: 107%;
  right: 30%;
  width: 292px;
  height: 117px;
  font-family: "Jua", sans-serif;
  font-style: normal;
  font-size: 100px;
}

#t_2 {
  top: 1353px;
  left: 121px;
  width: 290px;
  height: 388px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

a {
  text-decoration: none !important;
}

.TOP10-form .scrollcard {
  display: relative;
}

.TOP10-form .scrollcard .card {
  font-family: "Jua", sans-serif;
  display: inline-block;
  padding: 15px;
  height: 350px;
  background: #fff;
  border-radius: 8px;
  margin: 15px;
  top: 1500px;
}

.TOP10-form .scrollcard .card > img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.TOP10-form .scrollcard .card h1 {
  font-size: 24px;
  color: #f16822;
  text-align: center;
}

.TOP10-form .scrollcard .card p {
  font-size: 16px;
  color: #000;
  text-align: center;
}

body > div > div.wrapper > section > div.TOP10-form > div.scroll > div > button.slick-prev.slick-arrow {
  display: none !important;
}

body > div > div.wrapper > section > div.TOP10-form > div.scroll > div > button.slick-next.slick-arrow {
  display: none !important;
}

body > div > div.wrapper > section > div.TOP10-form > div.scroll > div > div {
  transform: translateY(172px);
}

body > div > div.wrapper > section > div.TOP10-form > div.scroll > div {
  min-height: 600px;
}
