.wrapper{
    display: flex;
    min-height: 90%;
}
.main_content{
    width: 65%;
    background: #F6F7FF;
    min-height: 100%;
    margin: 1% 0 1% 10%;
    border-radius: 59px 59px 26px 26px;
}

.main_content > div > div > table{
    padding: 4% 4% 4% 10%;
    font-size: 20px;
    width: 100%;
}

.main_content > div > div > table > tbody{
    text-align: center;
}

.main_content > div > div > table > thead > tr > th:nth-child(4){
    width: 50%;
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 3%;
    right: 41%;
    transform: translateX(-100%);
}

.main_content > div > nav > a{
    position: absolute;
    left: 79%;
    bottom: 7%;
}

.sidebar{
    background: #F6F7FF;
    border-radius: 23px;
    margin: 1%;
    width: 12%;
}

.sidebar > ul{
    text-align: center;
    position: relative;
    font-size: 19px;
    bottom: -12%;
    padding-inline-start: 0;
}

.sidebar > h2{
    text-align: center;
}

.sidebar > ul > li:nth-child(1),
.sidebar > ul > li:nth-child(2),
.sidebar > ul > li:nth-child(3),
.sidebar > ul > li:nth-child(4){
    padding: 10% 0;
}


.main_content > div > section > form{
    position: absolute;
    width: 100%;
}

.main_content > div > section > form > span > ul{
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 2%;
}

.main_content > div > section > form > div > button{
    margin: 4% 0% 0% 34%;
      border: none;
      font-family: "Jua", sans-serif;
      background: #8ca8fa;
      border-radius: 4px;    
}

.main_content > div > section > form{
    left: 37%;
    top: 49%;
}

#id_old_password,
#id_new_password1,
#id_new_password2{
  display: block;
  margin-bottom: 2%;
  margin-left: 15%;
}

.helptext{
  display: none;
}

.main_content > div > section > span > ul{
  text-align: center;
  margin-top: 4%;
}

.main_content > div > section > form > label:nth-child(2),
.main_content > div > section > form > label:nth-child(4),
.main_content > div > section > form > label:nth-child(8){
  margin-left: 15%;
}

body > div > div.wrapper > div.main_content > div > section > span > h1{
  text-align: center;
  margin-top: 6%;
}