.wrapper{
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 0 10px;
}

.container{
    width: 80%;
    min-height: 100%;
    border-radius: 59px 59px 26px 26px;
    background: #F6F7FF;
    margin: 20px auto;
    align-content: center;
    position: relative;
}

.intro > h1{
    text-align: center;
    padding: 5% 5% 0% 5%;
    font-size: 50px;
}

.intro > p{
    position: absolute;
    left: 75%;
    top: 8%;
}
.text > div:nth-child(3) > div > div{
    padding: 5%;
}

.text > div:nth-child(2){
    padding: 0px 5%;
}


.text > div:nth-child(4){
    width: 100%;
}

.text > div:nth-child(2) > p > b{
    font-weight: 200;
    font-size: 32px;
}
.text > div:nth-child(4){
  position: absolute;
    left: 81%;
    padding: 2% 0%;
}

.text > div:nth-child(7){
    text-align: left;
    padding: 0 5%;
}

.text > div:nth-child(3) > div{
  width: 90%;
  min-height: 50%;
  font-weight: lighter;
  margin: 0% 5%;
  border-radius: 1%;
}

.text > div:nth-child(5){
  padding: 5% 5% 0 5%;
}

.text > div:nth-child(6) > div {
  width: 90%;
  font-weight: lighter;
  margin: 0% 5%;
  border-radius: 1%;
}

.text > form > div{
    padding: 5%;
}

.text > form > input.btn.btn-primary{
    bottom: 3%;
    right: 9%;
    position: absolute;
    border: none;
    font-family: "Jua", sans-serif;
    background-color: #e1e3fe;
    border-radius: 10%;
    
}

.card.my-3 > div{
  background: #fff !important;
  border-radius: 3%;
}

.text > div:nth-child(4) > a:nth-child(1),
.text > div:nth-child(4) > a:nth-child(2){
  background-color: #e1e3fe;
  padding: 0.5%;
  border-radius: 17%;
}

.text{
  background-color: #9bb3db;
  width: 90%;
  margin: 0 5%;
  border-radius: 3%;
}
.cardmy-3 > div > div > span:nth-child(2){
 padding: 0 5%;
}

.text > form > div > p{
 margin: 1% 0;
}
.text > form > div > textarea{
 width: 90%;
}

.date{
      font-size: 1.3rem !important;
      margin: 0 -16%;
}

.wrapper > div > div > div > div.intro > div > a{
  display: none;
}