.wrapper{
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 0 10px;
}

.container{
    width: 80%;
    min-height: 100%;
    border-radius: 59px 59px 26px 26px;
    background: #F6F7FF;
    margin: 20px auto;
    align-content: center;
    position: relative;
}

.intro > h1{
    text-align: center;
    padding: 5%;
    font-size: 50px;
}

.intro > p{
    position: absolute;
    left: 75%;
    top: 8%;
}
.text > div:nth-child(3) > div > div{
    padding: 5%;
}

.text > div:nth-child(2){
    padding: 0px 5%;
}


.text > div:nth-child(4){
    width: 100%;
}

.text > div:nth-child(2) > p > b{
    font-weight: 200;
    font-size: 32px;
}
.text > div:nth-child(4){
  position: absolute;
    left: 87%;
    padding: 2% 0%;
}

.text > div:nth-child(7){
    text-align: left;
    padding: 0 5%;
}

.text > div:nth-child(3) > div{
    width: 100%;
    min-height: 50%;
    font-weight: lighter;
}

.text > div:nth-child(5){
    padding: 5%;
}

.text > div:nth-child(6) > div > div{
    padding: 0 5%;
}

.text > form > div{
    padding: 5%;
}

.text > form > input.btn.btn-primary{
    bottom: 3%;
    right: 5%;
    position: absolute;
    
}

.card-body{
  background: #fff !important;
  border-radius: 3%;
}

