.wrapper{
    display: flex;
    min-height: 90%;
}
.main_content{
    width: 65%;
    background: #F6F7FF;
    min-height: 100%;
    margin: 1% 0 1% 10%;
    border-radius: 59px 59px 26px 26px;
}

.main_content > div > div > table{
    padding: 0% 6% 4% 7%;
    font-size: 20px;
    width: 100%;
    border-spacing: 0;
}

.table > thead {
  background: #5d6a8fc2;
  height: 45px;
}
.table > thead > tr > th {
  color: #f6f7ff;
  font-family: "Jua", sans-serif;
  font-weight: 100 !important;
  font-size: 20px;
}

.table > thead > tr > th:nth-child(3) {
  border-radius: 0px 15px 0px 0px;
}
.table > thead > tr > th:nth-child(1) {
  border-radius: 15px 0px 0px 0px;
}
.table > tbody{
    text-align: center;
    background: #d4dfff42;
}
.table-responsive{
  min-height: 70%;
}
.main_content > div > div > table > thead > tr > th:nth-child(4){
    width: 50%;
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 3%;
    right: 41%;
    transform: translateX(-100%);
}


.sidebar{
    background: #F6F7FF;
    border-radius: 23px;
    margin: 1%;
    width: 12%;
}

.sidebar > ul{
    text-align: center;
    position: relative;
    font-size: 19px;
    bottom: -12%;
    padding-inline-start: 0;
}

.sidebar > h2{
    text-align: center;
}

.sidebar > ul > li:nth-child(1),
.sidebar > ul > li:nth-child(2),
.sidebar > ul > li:nth-child(3),
.sidebar > ul > li:nth-child(4){
    padding: 10% 0;
}

.main_content > div > h1{
  text-align: center;
}
.main_content > div > nav > a{
  font-size: 21px;
    background: #9bb3db;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 0% 85%;
}

@media screen and (max-width:780px) {
  .table-responsive {
    min-height: 60%;
  }
  .main_content > div > div > table {
    font-size: 15px;
  }
  .main_content > div > div > table > thead > tr > th:nth-child(1),
  .main_content > div > div > table > thead > tr > th:nth-child(2),
  .main_content > div > div > table > thead > tr > th:nth-child(3){
    font-size: 15px;
  }
  .main_content > div > nav > a{
    font-size: 12px;
    margin: 0% 80%;
  }
  .sidebar > ul{
    font-size: 14px;
  }
}
