@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


.wrapper{
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 0 10px;
}

.wrapper-box{
    width: 80%;
    margin:20px auto;
    border-radius: 59px 59px 26px 26px;
    background: #F6F7FF;
    align-content: center;
    min-height: 100%;
    position: relative;
}


.table{
    border-spacing: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.table > thead{
    background: #5D6A8FC2;
    height: 45px;
    border-radius: 15px 15px 0px 0px;
}


body > div > div > div > table > thead{
    border-radius: 15px 15px 0px 0px !important;
}





.table > thead > tr > th{
    color: #F6F7FF;
    font-family: 'Jua', sans-serif;
    font-weight: 100 !important;
    font-size: 20px; 
    text-align: center;
}



.table > thead > tr > th:nth-child(3){
    border-radius: 0px 15px 0px 0px;
}

.table > thead > tr > th:nth-child(1){
    border-radius: 15px 0px 0px 0px;
}


.table > tbody{
    background: #D4DFFF42;
}

.table > tbody > tr > td{
    color: #171717;
    font-family: 'Jua', sans-serif;
    font-weight: 100 !important;
    font-size: 20px;
    text-align: center;
}


a{
    text-decoration: none !important;
}

body > div > div > nav > ul{
    display: flex;
    list-style: none;
}


.paginator{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-100%);
}

