{% load static %}
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="{% static 'css/base.css' %}? after" type="text/css" />

<div class="wrap">
  <div id="navgation">
    <div class="logo">
      <a href="{% url 'main:main' %}"><img src='{% static "\logo.png" %}' /></a>
        </div>
        <div class="nav-wrap">
            <ul class="gnb">
                <li><a href="{% url 'main:main' %}">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="{% url 'board:notice' %}">Notice</a></li>
                <li><a href="{% url 'board:mypage' %}">MyPage</a></li>
            </ul>
            <ul class="login">
                {% if user.is_authenticated %}
                <li><a href="{% url 'member:logout' %}">logout</a></li>
                {% else %}
                <li><a href="{% url 'member:login' %}">login</a></li>
                <li><a href="{% url 'member:signup' %}">Signup</a></li>
                {% endif%}
            </ul>
        </div>
    </div>
    <div class="nav-wrap">
      <ul class="gnb">
        <li><a href="{% url 'main:main' %}">Home</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="{% url 'board:notice' %}">Notice</a></li>
        <li><a href="#">MyPage</a></li>
      </ul>
      <ul class="login">
        {% if user.is_authenticated %}
        <li><a href="{% url 'member:logout' %}">logout</a></li>
        {% else %}
        <li><a href="{% url 'member:login' %}">login</a></li>
        <li><a href="{% url 'member:signup' %}">Signup</a></li>
        {% endif%}
      </ul>
    </div>
  </div>
  {% block content %} {% endblock %}
  <div class="footer">
    <ul>
      <li>프로젝트 소개</li>
      <li>회원 약관</li>
      <li>개인정보활용문의</li>
      <li>개인정보 처리방침</li>
      <li>법적고지</li>
      <li>문의/안내처</li>
    </ul>
  </div>
