{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link
  rel="stylesheet"
  href="{% static 'css/base.css' %}? after"
  type="text/css"
/>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/base.js' %}" type="text/javascript"></script>

<div class="wrap">
  <div id="navgation">
    <div class="logo">
      <a href="{% url 'main:main' %}"><img src='{% static "\logo.png" %}'/></a>
    </div>
    <div class="nav-wrap">
      <ul class="gnb" id="gnb">
        <li><a href="{% url 'main:main' %}">Home</a></li>
        <li><a href="{% url 'service:service' %}">Service</a></li>
        <li><a href="{% url 'board:notice' %}">Notice</a></li>
        <li><a href="{% url 'board:mypage' %}">MyPage</a></li>
      </ul>
      <ul class="login" id="login">
        {% if user.is_authenticated %}
        <li><a href="{% url 'member:logout' %}">logout</a></li>
        <li></li>
        {% else %}
        <li><a href="{% url 'member:login' %}">login</a></li>
        <li><a href="{% url 'member:signup' %}">Signup</a></li>
        {% endif%}
      </ul>
      <button class="more-btn">
        <i class="icon"></i>
      </button>
    </div>
  </div>
    {% block content %} {% endblock %}
    <div class="footer">
      <ul>
        <li>프로젝트 소개</li>
        <li>회원 약관</li>
        <li>개인정보활용문의</li>
        <li>개인정보 처리방침</li>
        <li>법적고지</li>
        <li>문의/안내처</li>
      </ul>
    </div>
  </div>
</div>
